{% extends 'market/base.html' %}

{% block item %}
    <div class="item">
        <h3>Наименование: <a href="{% url 'item_detail' pk=item.pk %}">{{item.item_name}}</a></h3>
        <p>Категория: {{item.department}}</p>
        <p>Описание: {{item.text}}</p>
        <p>Цена: {{item.price}}</p>
        <p>Опубликовано: {{item.published_date}}</p>
        <p>Создано: <a href="{% url 'profile_view' uname=user %}">{{item.author}}</a></p>
        <p>email: {{item.email}}</p>
    </div>

    {% if item.author == request.user %}
    <a href="{% url 'item_edit' pk=item.pk %}" class="btn btn-default">Редактировать</a>
    {% endif %}
{% endblock %}
